/*Dashboard*/
body {
    margin: 0;
    font-family:'Times New Roman', Times, serif;
    background: #f4f4f4;
}

.left_pane{
    position:fixed;
    left:0;
    top:0;
    width:220px;
    height:100%;
    background: darkblue;
    padding-top: 20px;
}

.left_pane h2{
    color:#ffff;
    text-align: center;
    margin-top:50px;
}

.left_pane a{
    display: block;
    color:#ffff;
    padding:15px 20px;
    text-decoration: none;
    font-size: 20px;
}

.left_pane a:hover{
    background: rgb(7, 229, 236);
}

/*Main Content*/
.main{
    margin-left: 220px;
    padding:15px;
}

h1{
    color: darkblue;
}

/*Dashboard Cards*/
.cards{
    display:grid;
    grid-template-columns:repeat(2, 1fr);
    gap:20px;
    margin-bottom:20px;
    border: 2px solid blue;
    padding: 5px;
    background: blue;
    width: 1080px;
    border-radius: 10px;
}

.cards h3{
    font-size: 20px;
    color: white;
}

.cards p{
    font-size: 20px;
    color: white;
}

.card{
    background: rgb(9, 218, 233);
    padding: 10px;
    border-radius:10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.card h3{
    margin:0;
    color:#000005;
}

.card p{
    font-size: 24px;
    color:rgb(231, 9, 9);
    margin-top: 10px;
}

.ticket {
    margin-left: 220px;
    padding:15px;
    color: rgb(12, 11, 11);
}
/*TABLE*/
table{
    width: 100%;
    box-shadow: black;
    background-color: #fff;
    text-align: center;
    margin: auto;
    border: #070000;
    border-collapse: collapse;
}

th{
    
    color: black;
    background: rgb(14, 14, 197);
    padding:12px;
}

td{
    padding:12px;
    border-bottom:1px solid black;
}

tr:hover {
    background: rgb(38, 182, 226);
    padding: 40px;
}